html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: auto;
}
/*
 * Styles for the deck of cards
 */
.deck {
    width: 460px;
    min-height: 460px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.deck .card {
    height: 85px;
    width: 85px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: 0.8s;
}
.deck .card.open {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    background: #02b3e4;
    cursor: default;
}
.deck .card.show {
    font-size: 33px;
}
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}
/*
 * Styles for the Score Panel
 */
 .moveTracker {
    margin: auto 10px auto 10px;
    font-weight: 700;
}
.score-panel {
    text-align: left;
    margin-bottom: 10px;
    width: 460px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.left-panel {
  width: 85%;
  height: 60px;
  display: inline-block;
  border-radius: 8px;
  background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
  padding: 15px 15px 15px 15px;
}
.moveTracker {
  display: inline-block;
}
.left-panel .time {
  display: inline-block;
  float: right;
  padding-right: 40px;
}
.time {
  margin-bottom: 5px;
  font-weight: 700;
}
.score-panel .restart {
  float: right;
  cursor: pointer;
  font-size: 25px;
  width: 12%;
  height: 60px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
}
.restart {
  margin-right: auto;
  margin-left: auto;
  width: 10%;
  font-size: 22px;
  border-radius: 8px;
  background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
  padding: 10px 0 10px 0;
  cursor: pointer;
}
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #ffee00;
}
/* css for winner message */
ul.stars {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
li {
    list-style: none;
    display: inline-block;
}
.stars {
    color: #ffd700;
}
.starDown {
  color: #2e3d49 !important;
}
.finish {
    display: none;
    position: absolute;
    z-index: 99;
    width: 600px;
    min-height: 570px;
    background: #fefefe;
    border-radius: 8px;
}
.finish-message {
    text-align: center;
    padding: 0px;
    font-family:  'Neucha', cursive;
    font-size: 1.2em;
}
.win-message {
  font-size: 1.8em;
  margin-top: 16%;
  margin-bottom: 20px;
}

footer {
    font-family: 'Neucha', cursive;
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
}
